<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict.finalproject.dao.AnswerMapper">

    <select id="selectList" resultType="answer">
        select * from answer
    </select>

    <insert id="insert" parameterType="answer">
        insert into answer values(
        null,#{qna_idx},#{mem_idx},#{ans_content},#{mem_name},now(),'n',null
        )
    </insert>

    <update id="update">
        update answer set
        mem_idx = #{mem_idx},ans_content = #{ans_content},mem_name = #{mem_name},ans_modify_yn = 'y',ans_modifydate = now()
        where ans_idx = #{ans_idx}
    </update>

    


</mapper>
